[%General]
autoSaveSettings=true
autoSaveSettingsTime=5
coreCountImport=4
dataPath=data/
databasePath=data/database/
initDataStateFile=initSession.xml
loadDataAtStartup=true
locale=0
procChainPath=data/processingChains/
programVersion=3.0.6

[ModelingSettings]
gasMixture=gasmixtures/Kock_N2_100.txt
heatTransferModel=kock
liiSettings=liisettings/4CH-3C-LII.txt
material=materials/Soot_Kock.txt
materialSpec=materials/blackbody_particle.txt
processPressure=1000

[GuiSettings]
Tutorial\showWelcome=true
